name: Order Service CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Order Service
        run: |
          cd microservices/order-service
          docker build -t order-service .
