name: Product Service CI

# Trigger workflow on push to main branch
on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repository
      - name: Checkout Code
        uses: actions/checkout@v4

      # Step 2: Build Docker image
      - name: Build Product Service Docker image
        run: |
          cd product-service
          docker build -t product-service .
