name: User Service CI

# Trigger workflow on push to main branch
on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout Code
        uses: actions/checkout@v4

      # Step 2: Build Docker image
      - name: Build User Service Docker image
        run: |
          cd user-service
          docker build -t user-service .
